# 📦 مكتبات المشروع (حجمها كبير ومش محتاجة تترفع)
node_modules/

# 🏗️ ناتج الـ Build المؤقت
dist/
dist-ssr/
*.local

# 🔒 مفاتيح السيرفر الحساسة (أمان 100%)
.env
.env.*
!.env.example

# ☁️ ملفات Vercel المؤقتة
.vercel/

# 🛠️ ملفات النظام والـ Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store